.css-xsqlm7 {
    width: 100% !important;
}

.css-1z1zpa {
    background-color: #000000 !important;
}

.css-c4yxs9 {
    background-image: linear-gradient(#DD46F6, #7235FF);
    border-bottom: none !important;
}

.css-vro7g0 {
    border: none !important;
}

.css-1kto3a2, .css-nak6hv {
    background-color: #2C1F47 !important;
    border: none !important;
}

.css-1l259q4 {
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;

}

.css-1mkbi9i {
    background-image: linear-gradient(#DD46F6, #7235FF);
}

.css-1r8xzlp {
    background-color: unset !important;
    color: #FFFFFF !important;
    font-weight: 400 !important;
    opacity: 60% !important;

}

.css-1htyh7j, .css-dar85v {
    color: #FFFFFF !important;
    font-weight: 500 !important;

}

.css-ggpv34 {
    color: #FFFFFF;
    
}

.back-icon {
    cursor: pointer;
}

.css-gdnrmo {
    margin: auto !important;
}

.message__txt__wrapper {
    background-image: linear-gradient(#DD46F6, #7235FF);
}

.message__txt {
    color: #FFFFFF !important;
}

.css-1wtsnio i {
    background-color: #FFFFFF !important;
}

.css-1upwbkm {
    border-top: 0.1px solid #FFFFFF !important;
    font-weight: 400 !important;
    opacity: 60% !important;
}

.user__status {
    color: #FFFFFF !important;
}

.css-1l75vot {
    border-left: unset !important;
    background-color: #000000 !important;
}

.css-i624t9, .css-1nuh9rh, .css-b5kmhc {
    color: #FFFFFF !important;
}

.css-1g06csg {
    background-color: #000000 !important;
}

.css-yk4zgd {
    border: unset !important;
} 

.css-1esf8lq, .css-1tdcrbp {
    background-color: #FFFFFF !important;
}