.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  display: flex;
}

@media screen and (min-width: 701px) and (max-width: 2500px) {
  .App {
    display: flex;
    justify-content: center;
  }
}

.H6djxujDyBWSH05jmS1c .XWDFXsBYBiqb0bccz5aa .pTfkPoHDRs_MQWfVDwqz {
  display: none !important;
}

.tNt73LbNo0bjqasgdCKO {
  display: none !important;

}

.t7CkP1l2e1KLqty5_18v .CTk5yvs1VFTUR3zVNAE8 div {
  display: none !important;
}

.PjZU9le5rmfViWeAvvRH {
  display: none !important;
}

.L6vIrmD0q9g5Yu2h6ofV {
  display: none !important;
}

.sKtK1LFA_jOcb1MuqFNo {
  justify-content: center !important;
  gap: 20% !important;
  background-color: unset !important;
  border: unset !important;
}

.t7CkP1l2e1KLqty5_18v .Zz4Rtew71bftgxNa9mtS {
  background-color: #0C0024 !important;
}

.kdokPV9jgsyFtd2e8Ek2 .sKtK1LFA_jOcb1MuqFNo a {
  border-radius: 10.4vmin !important;
  background-color: #FFFFFF;
}

.PTIVkdYUpYCXztyJbc5i .UeqSHNxgof9lsVxrDDPW {
  width: 10vmin !important;
  height: 10vmin !important;
  background-size: 6vmin 6vmin, cover !important;
}

.uFOhTiAtvNRGrRWzulFQ .gFx5FgWX25YnuPL2TeZX div {
  width: 17vmin !important;
  height: 17vmin !important;
  background-size: 10vmin 10vmin, cover !important;
}

.p0ipZRgpbtCmxvtUNWQe {
  display: none !important;
}

.UYExXLEebWAoudRz0BOQ {
  display: none !important;
  
}